<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <form id="ingredients-form" action="/calculate" method="post">
    <div id="dropdowns-container">
      <div class="dropdowns">
        <select class="item-dropdown" name="ingredient[]">
        <option value="">Select ingredient</option>
        <option value="Almonds">Almonds</option>
        <option value="Amaranth leaves">Amaranth leaves</option>
        <option value="Amaranth seed, Black">Amaranth seed, Black</option>
        <option value="Anise seeds">Anise seeds</option>
        <option value="Apple">Apple</option>
        <option value="Apricot, dried">Apricot, dried</option>
        <option value="Arecanut dried">Arecanut dried</option>
        <option value="Asafoetida">Asafoetida</option>
        <option value="Ash gourd">Ash gourd</option>
        <option value="Avocado">Avocado</option>
        <option value="Bajra">Bajra</option>
        <option value="Bamboo shoot, tender">Bamboo shoot, tender</option>
        <option value="Banana">Banana</option>
        <option value="Barley">Barley</option>
        <option value="Basil seeds">Basil seeds</option>
        <option value="Beef, chops">Beef, chops</option>
        <option value="Beet greens">Beet greens</option>
        <option value="Beetroot">Beetroot</option>
        <option value="Bengal gram, dal">Bengal gram, dal</option>
        <option value="Bengal gram, whole">Bengal gram, whole</option>
        <option value="Bitter gourd">Bitter gourd</option>
        <option value="Black cumin (Kalonji)">Black cumin (Kalonji)</option>
        <option value="Black gram, whole">Black gram, whole</option>
        <option value="Blackberry fruit">Blackberry fruit</option>
        <option value="Blackcurrants">Blackcurrants</option>
        <option value="Bottle gourd">Bottle gourd</option>
        <option value="Brinjal">Brinjal</option>
        <option value="Broad beans">Broad beans</option>
        <option value="Brown Rice">Brown Rice</option>
        <option value="Brussels sprouts">Brussels sprouts</option>
        <option value="Bulgar wheat">Bulgar wheat</option>
        <option value="Butter">Butter</option>
        <option value="Cabbage Chinese">Cabbage Chinese</option>
        <option value="Cabbage, green">Cabbage, green</option>
        <option value="Capsicum">Capsicum</option>
        <option value="Cardamom, green">Cardamom, green</option>
        <option value="Carrot">Carrot</option>
        <option value="Cashew nut">Cashew nut</option>
        <option value="Cat fish">Cat fish</option>
        <option value="Catla">Catla</option>
        <option value="Cauliflower">Cauliflower</option>
        <option value="Cauliflower, leaves">Cauliflower, leaves</option>
        <option value="Celery stalk">Celery stalk</option>
        <option value="Cheese">Cheese</option>
        <option value="Cherries red">Cherries red</option>
        <option value="Chia seeds">Chia seeds</option>
        <option value="Chicken, breast,">Chicken, breast,</option>
        <option value="Chicken, leg, skinless">Chicken, leg, skinless</option>
        <option value="Chicken, liver">Chicken, liver</option>
        <option value="Chicken, thigh,">Chicken, thigh,</option>
        <option value="Cho-Cho- Marrow">Cho-Cho- Marrow</option>
        <option value="Clam">Clam</option>
        <option value="Cloves">Cloves</option>
        <option value="Cluster beans">Cluster beans</option>
        <option value="Coconut dry">Coconut dry</option>
        <option value="Coconut fresh">Coconut fresh</option>
        <option value="Coconut water">Coconut water</option>
        <option value="Colocasia leaves, green">Colocasia leaves, green</option>
        <option value="Coriander seeds">Coriander seeds</option>
        <option value="Cow pea, brown">Cow pea, brown</option>
        <option value="Cow pea, white">Cow pea, white</option>
        <option value="Crab">Crab</option>
        <option value="Cucumber">Cucumber</option>
        <option value="Cumin seeds">Cumin seeds</option>
        <option value="Curry leaves">Curry leaves</option>
        <option value="Custard apple">Custard apple</option>
        <option value="Dates, dry">Dates, dry</option>
        <option value="Drumstick leaves">Drumstick leaves</option>
        <option value="Egg white, raw">Egg white, raw</option>
        <option value="Egg, whole, raw">Egg, whole, raw</option>
        <option value="Egg, yolk, raw">Egg, yolk, raw</option>
        <option value="Fenugreek leaves">Fenugreek leaves</option>
        <option value="Fenugreek seeds">Fenugreek seeds</option>
        <option value="Fig">Fig</option>
        <option value="Flax seeds">Flax seeds</option>
        <option value="French beans">French beans</option>
        <option value="Garlic">Garlic</option>
        <option value="Ghee">Ghee</option>
        <option value="Gingelly seeds">Gingelly seeds</option>
        <option value="Ginger, fresh">Ginger, fresh</option>
        <option value="Goat">Goat</option>
        <option value="Grapes">Grapes</option>
        <option value="Green chillies">Green chillies</option>
        <option value="Green gram dal">Green gram dal</option>
        <option value="Green gram, whole">Green gram, whole</option>
        <option value="Ground nut">Ground nut</option>
        <option value="Guava">Guava</option>
        <option value="Horse gram, whole">Horse gram, whole</option>
        <option value="Jack fruit">Jack fruit</option>
        <option value="Jaggery cane">Jaggery cane</option>
        <option value="Jowar">Jowar</option>
        <option value="Khoa">Khoa</option>
        <option value="Knol-Khol">Knol-Khol</option>
        <option value="Kovai">Kovai</option>
        <option value="Ladies finger">Ladies finger</option>
        <option value="Lettuce">Lettuce</option>
        <option value="Linseeds">Linseeds</option>
        <option value="Litchi">Litchi</option>
        <option value="Lobster">Lobster</option>
        <option value="Mackerel">Mackerel</option>
        <option value="Mango">Mango</option>
        <option value="Matha">Matha</option>
        <option value="Milk, whole (Buffalo)">Milk, whole (Buffalo)</option>
        <option value="Milk, whole, cow">Milk, whole, cow</option>
        <option value="Mint leaves">Mint leaves</option>
        <option value="Musk melon">Musk melon</option>
        <option value="Mustard leaves">Mustard leaves</option>
        <option value="Nutmeg">Nutmeg</option>
        <option value="Oil">Oil</option>
        <option value="Onion">Onion</option>
        <option value="Orange">Orange</option>
        <option value="Oyster">Oyster</option>
        <option value="Paneer">Paneer</option>
        <option value="Papaya">Papaya</option>
        <option value="Parsley">Parsley</option>
        <option value="Parwar">Parwar</option>
        <option value="Peach">Peach</option>
        <option value="Pear">Pear</option>
        <option value="Peas, dry">Peas, dry</option>
        <option value="Peas,fresh">Peas,fresh</option>
        <option value="Pepper, black">Pepper, black</option>
        <option value="Pine seed">Pine seed</option>
        <option value="Pineapple">Pineapple</option>
        <option value="Pistachio nuts">Pistachio nuts</option>
        <option value="Plantain stem">Plantain stem</option>
        <option value="Plum">Plum</option>
        <option value="Pomegranate">Pomegranate</option>
        <option value="Pomfret">Pomfret</option>
        <option value="Poppy seeds">Poppy seeds</option>
        <option value="Pork, chops">Pork, chops</option>
        <option value="Pork, shoulder">Pork, shoulder</option>
        <option value="Potato brown">Potato brown</option>
        <option value="Pumpkin">Pumpkin</option>
        <option value="Quinoa">Quinoa</option>
        <option value="Radish leaves">Radish leaves</option>
        <option value="Radish,white">Radish,white</option>
        <option value="Ragi">Ragi</option>
        <option value="Raisins, black">Raisins, black</option>
        <option value="Rajma, red">Rajma, red</option>
        <option value="Red chillies">Red chillies</option>
        <option value="Red gram, dal">Red gram, dal</option>
        <option value="Red gram, whole">Red gram, whole</option>
        <option value="Refined flour">Refined flour</option>
        <option value="Rice flakes">Rice flakes</option>
        <option value="Rice Parboiled">Rice Parboiled</option>
        <option value="Rice Raw milled">Rice Raw milled</option>
        <option value="Ridge gourd">Ridge gourd</option>
        <option value="Salmon">Salmon</option>
        <option value="Sapota">Sapota</option>
        <option value="Sardine">Sardine</option>
        <option value="Shark">Shark</option>
        <option value="Sheep, chops">Sheep, chops</option>
        <option value="Sheep, shoulder">Sheep, shoulder</option>
        <option value="Silver fish">Silver fish</option>
        <option value="Snake gourd">Snake gourd</option>
        <option value="Soy milk">Soy milk</option>
        <option value="Soya bean, brown">Soya bean, brown</option>
        <option value="Spinach">Spinach</option>
        <option value="Squid">Squid</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Sugarcane, juice">Sugarcane, juice</option>
        <option value="Sunflower seeds">Sunflower seeds</option>
        <option value="Sweet lime">Sweet lime</option>
        <option value="Sweet potato (brown)">Sweet potato (brown)</option>
        <option value="Tapioca">Tapioca</option>
        <option value="Tiger prawns">Tiger prawns</option>
        <option value="Tofu">Tofu</option>
        <option value="Tomato">Tomato</option>
        <option value="Tuna">Tuna</option>
        <option value="Turmeric powder">Turmeric powder</option>
        <option value="Walnut">Walnut</option>
        <option value="Watermelon">Watermelon</option>
        <option value="Wheat flour">Wheat flour</option>
        <option value="Wheat semolina">Wheat semolina</option>
        <option value="Wheat vermicelli">Wheat vermicelli</option>
        <option value="Wheat whole">Wheat whole</option>
        <option value="Wood apple">Wood apple</option>
        <option value="Yam">Yam</option>
        </select>
        <input type="number" class="quantity-input" name="quantity[]" placeholder="Quantity in grams" step="any">
      </div>
      <div class="dropdowns">
        <select class="item-dropdown" name="ingredient[]">
        <option value="">Select ingredient</option>
        <option value="Almonds">Almonds</option>
        <option value="Amaranth leaves">Amaranth leaves</option>
        <option value="Amaranth seed, Black">Amaranth seed, Black</option>
        <option value="Anise seeds">Anise seeds</option>
        <option value="Apple">Apple</option>
        <option value="Apricot, dried">Apricot, dried</option>
        <option value="Arecanut dried">Arecanut dried</option>
        <option value="Asafoetida">Asafoetida</option>
        <option value="Ash gourd">Ash gourd</option>
        <option value="Avocado">Avocado</option>
        <option value="Bajra">Bajra</option>
        <option value="Bamboo shoot, tender">Bamboo shoot, tender</option>
        <option value="Banana">Banana</option>
        <option value="Barley">Barley</option>
        <option value="Basil seeds">Basil seeds</option>
        <option value="Beef, chops">Beef, chops</option>
        <option value="Beet greens">Beet greens</option>
        <option value="Beetroot">Beetroot</option>
        <option value="Bengal gram, dal">Bengal gram, dal</option>
        <option value="Bengal gram, whole">Bengal gram, whole</option>
        <option value="Bitter gourd">Bitter gourd</option>
        <option value="Black cumin (Kalonji)">Black cumin (Kalonji)</option>
        <option value="Black gram, whole">Black gram, whole</option>
        <option value="Blackberry fruit">Blackberry fruit</option>
        <option value="Blackcurrants">Blackcurrants</option>
        <option value="Bottle gourd">Bottle gourd</option>
        <option value="Brinjal">Brinjal</option>
        <option value="Broad beans">Broad beans</option>
        <option value="Brown Rice">Brown Rice</option>
        <option value="Brussels sprouts">Brussels sprouts</option>
        <option value="Bulgar wheat">Bulgar wheat</option>
        <option value="Butter">Butter</option>
        <option value="Cabbage Chinese">Cabbage Chinese</option>
        <option value="Cabbage, green">Cabbage, green</option>
        <option value="Capsicum">Capsicum</option>
        <option value="Cardamom, green">Cardamom, green</option>
        <option value="Carrot">Carrot</option>
        <option value="Cashew nut">Cashew nut</option>
        <option value="Cat fish">Cat fish</option>
        <option value="Catla">Catla</option>
        <option value="Cauliflower">Cauliflower</option>
        <option value="Cauliflower, leaves">Cauliflower, leaves</option>
        <option value="Celery stalk">Celery stalk</option>
        <option value="Cheese">Cheese</option>
        <option value="Cherries red">Cherries red</option>
        <option value="Chia seeds">Chia seeds</option>
        <option value="Chicken, breast,">Chicken, breast,</option>
        <option value="Chicken, leg, skinless">Chicken, leg, skinless</option>
        <option value="Chicken, liver">Chicken, liver</option>
        <option value="Chicken, thigh,">Chicken, thigh,</option>
        <option value="Cho-Cho- Marrow">Cho-Cho- Marrow</option>
        <option value="Clam">Clam</option>
        <option value="Cloves">Cloves</option>
        <option value="Cluster beans">Cluster beans</option>
        <option value="Coconut dry">Coconut dry</option>
        <option value="Coconut fresh">Coconut fresh</option>
        <option value="Coconut water">Coconut water</option>
        <option value="Colocasia leaves, green">Colocasia leaves, green</option>
        <option value="Coriander seeds">Coriander seeds</option>
        <option value="Cow pea, brown">Cow pea, brown</option>
        <option value="Cow pea, white">Cow pea, white</option>
        <option value="Crab">Crab</option>
        <option value="Cucumber">Cucumber</option>
        <option value="Cumin seeds">Cumin seeds</option>
        <option value="Curry leaves">Curry leaves</option>
        <option value="Custard apple">Custard apple</option>
        <option value="Dates, dry">Dates, dry</option>
        <option value="Drumstick leaves">Drumstick leaves</option>
        <option value="Egg white, raw">Egg white, raw</option>
        <option value="Egg, whole, raw">Egg, whole, raw</option>
        <option value="Egg, yolk, raw">Egg, yolk, raw</option>
        <option value="Fenugreek leaves">Fenugreek leaves</option>
        <option value="Fenugreek seeds">Fenugreek seeds</option>
        <option value="Fig">Fig</option>
        <option value="Flax seeds">Flax seeds</option>
        <option value="French beans">French beans</option>
        <option value="Garlic">Garlic</option>
        <option value="Ghee">Ghee</option>
        <option value="Gingelly seeds">Gingelly seeds</option>
        <option value="Ginger, fresh">Ginger, fresh</option>
        <option value="Goat">Goat</option>
        <option value="Grapes">Grapes</option>
        <option value="Green chillies">Green chillies</option>
        <option value="Green gram dal">Green gram dal</option>
        <option value="Green gram, whole">Green gram, whole</option>
        <option value="Ground nut">Ground nut</option>
        <option value="Guava">Guava</option>
        <option value="Horse gram, whole">Horse gram, whole</option>
        <option value="Jack fruit">Jack fruit</option>
        <option value="Jaggery cane">Jaggery cane</option>
        <option value="Jowar">Jowar</option>
        <option value="Khoa">Khoa</option>
        <option value="Knol-Khol">Knol-Khol</option>
        <option value="Kovai">Kovai</option>
        <option value="Ladies finger">Ladies finger</option>
        <option value="Lettuce">Lettuce</option>
        <option value="Linseeds">Linseeds</option>
        <option value="Litchi">Litchi</option>
        <option value="Lobster">Lobster</option>
        <option value="Mackerel">Mackerel</option>
        <option value="Mango">Mango</option>
        <option value="Matha">Matha</option>
        <option value="Milk, whole (Buffalo)">Milk, whole (Buffalo)</option>
        <option value="Milk, whole, cow">Milk, whole, cow</option>
        <option value="Mint leaves">Mint leaves</option>
        <option value="Musk melon">Musk melon</option>
        <option value="Mustard leaves">Mustard leaves</option>
        <option value="Nutmeg">Nutmeg</option>
        <option value="Oil">Oil</option>
        <option value="Onion">Onion</option>
        <option value="Orange">Orange</option>
        <option value="Oyster">Oyster</option>
        <option value="Paneer">Paneer</option>
        <option value="Papaya">Papaya</option>
        <option value="Parsley">Parsley</option>
        <option value="Parwar">Parwar</option>
        <option value="Peach">Peach</option>
        <option value="Pear">Pear</option>
        <option value="Peas, dry">Peas, dry</option>
        <option value="Peas,fresh">Peas,fresh</option>
        <option value="Pepper, black">Pepper, black</option>
        <option value="Pine seed">Pine seed</option>
        <option value="Pineapple">Pineapple</option>
        <option value="Pistachio nuts">Pistachio nuts</option>
        <option value="Plantain stem">Plantain stem</option>
        <option value="Plum">Plum</option>
        <option value="Pomegranate">Pomegranate</option>
        <option value="Pomfret">Pomfret</option>
        <option value="Poppy seeds">Poppy seeds</option>
        <option value="Pork, chops">Pork, chops</option>
        <option value="Pork, shoulder">Pork, shoulder</option>
        <option value="Potato brown">Potato brown</option>
        <option value="Pumpkin">Pumpkin</option>
        <option value="Quinoa">Quinoa</option>
        <option value="Radish leaves">Radish leaves</option>
        <option value="Radish,white">Radish,white</option>
        <option value="Ragi">Ragi</option>
        <option value="Raisins, black">Raisins, black</option>
        <option value="Rajma, red">Rajma, red</option>
        <option value="Red chillies">Red chillies</option>
        <option value="Red gram, dal">Red gram, dal</option>
        <option value="Red gram, whole">Red gram, whole</option>
        <option value="Refined flour">Refined flour</option>
        <option value="Rice flakes">Rice flakes</option>
        <option value="Rice Parboiled">Rice Parboiled</option>
        <option value="Rice Raw milled">Rice Raw milled</option>
        <option value="Ridge gourd">Ridge gourd</option>
        <option value="Salmon">Salmon</option>
        <option value="Sapota">Sapota</option>
        <option value="Sardine">Sardine</option>
        <option value="Shark">Shark</option>
        <option value="Sheep, chops">Sheep, chops</option>
        <option value="Sheep, shoulder">Sheep, shoulder</option>
        <option value="Silver fish">Silver fish</option>
        <option value="Snake gourd">Snake gourd</option>
        <option value="Soy milk">Soy milk</option>
        <option value="Soya bean, brown">Soya bean, brown</option>
        <option value="Spinach">Spinach</option>
        <option value="Squid">Squid</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Sugarcane, juice">Sugarcane, juice</option>
        <option value="Sunflower seeds">Sunflower seeds</option>
        <option value="Sweet lime">Sweet lime</option>
        <option value="Sweet potato (brown)">Sweet potato (brown)</option>
        <option value="Tapioca">Tapioca</option>
        <option value="Tiger prawns">Tiger prawns</option>
        <option value="Tofu">Tofu</option>
        <option value="Tomato">Tomato</option>
        <option value="Tuna">Tuna</option>
        <option value="Turmeric powder">Turmeric powder</option>
        <option value="Walnut">Walnut</option>
        <option value="Watermelon">Watermelon</option>
        <option value="Wheat flour">Wheat flour</option>
        <option value="Wheat semolina">Wheat semolina</option>
        <option value="Wheat vermicelli">Wheat vermicelli</option>
        <option value="Wheat whole">Wheat whole</option>
        <option value="Wood apple">Wood apple</option>
        <option value="Yam">Yam</option>
        </select>
        <input type="number" class="quantity-input" name="quantity[]" placeholder="Quantity in grams" step="any">
      </div>
      <div class="dropdowns">
        <select class="item-dropdown" name="ingredient[]" step="any">
        <option value="">Select ingredient</option>
        <option value="Almonds">Almonds</option>
        <option value="Amaranth leaves">Amaranth leaves</option>
        <option value="Amaranth seed, Black">Amaranth seed, Black</option>
        <option value="Anise seeds">Anise seeds</option>
        <option value="Apple">Apple</option>
        <option value="Apricot, dried">Apricot, dried</option>
        <option value="Arecanut dried">Arecanut dried</option>
        <option value="Asafoetida">Asafoetida</option>
        <option value="Ash gourd">Ash gourd</option>
        <option value="Avocado">Avocado</option>
        <option value="Bajra">Bajra</option>
        <option value="Bamboo shoot, tender">Bamboo shoot, tender</option>
        <option value="Banana">Banana</option>
        <option value="Barley">Barley</option>
        <option value="Basil seeds">Basil seeds</option>
        <option value="Beef, chops">Beef, chops</option>
        <option value="Beet greens">Beet greens</option>
        <option value="Beetroot">Beetroot</option>
        <option value="Bengal gram, dal">Bengal gram, dal</option>
        <option value="Bengal gram, whole">Bengal gram, whole</option>
        <option value="Bitter gourd">Bitter gourd</option>
        <option value="Black cumin (Kalonji)">Black cumin (Kalonji)</option>
        <option value="Black gram, whole">Black gram, whole</option>
        <option value="Blackberry fruit">Blackberry fruit</option>
        <option value="Blackcurrants">Blackcurrants</option>
        <option value="Bottle gourd">Bottle gourd</option>
        <option value="Brinjal">Brinjal</option>
        <option value="Broad beans">Broad beans</option>
        <option value="Brown Rice">Brown Rice</option>
        <option value="Brussels sprouts">Brussels sprouts</option>
        <option value="Bulgar wheat">Bulgar wheat</option>
        <option value="Butter">Butter</option>
        <option value="Cabbage Chinese">Cabbage Chinese</option>
        <option value="Cabbage, green">Cabbage, green</option>
        <option value="Capsicum">Capsicum</option>
        <option value="Cardamom, green">Cardamom, green</option>
        <option value="Carrot">Carrot</option>
        <option value="Cashew nut">Cashew nut</option>
        <option value="Cat fish">Cat fish</option>
        <option value="Catla">Catla</option>
        <option value="Cauliflower">Cauliflower</option>
        <option value="Cauliflower, leaves">Cauliflower, leaves</option>
        <option value="Celery stalk">Celery stalk</option>
        <option value="Cheese">Cheese</option>
        <option value="Cherries red">Cherries red</option>
        <option value="Chia seeds">Chia seeds</option>
        <option value="Chicken, breast,">Chicken, breast,</option>
        <option value="Chicken, leg, skinless">Chicken, leg, skinless</option>
        <option value="Chicken, liver">Chicken, liver</option>
        <option value="Chicken, thigh,">Chicken, thigh,</option>
        <option value="Cho-Cho- Marrow">Cho-Cho- Marrow</option>
        <option value="Clam">Clam</option>
        <option value="Cloves">Cloves</option>
        <option value="Cluster beans">Cluster beans</option>
        <option value="Coconut dry">Coconut dry</option>
        <option value="Coconut fresh">Coconut fresh</option>
        <option value="Coconut water">Coconut water</option>
        <option value="Colocasia leaves, green">Colocasia leaves, green</option>
        <option value="Coriander seeds">Coriander seeds</option>
        <option value="Cow pea, brown">Cow pea, brown</option>
        <option value="Cow pea, white">Cow pea, white</option>
        <option value="Crab">Crab</option>
        <option value="Cucumber">Cucumber</option>
        <option value="Cumin seeds">Cumin seeds</option>
        <option value="Curry leaves">Curry leaves</option>
        <option value="Custard apple">Custard apple</option>
        <option value="Dates, dry">Dates, dry</option>
        <option value="Drumstick leaves">Drumstick leaves</option>
        <option value="Egg white, raw">Egg white, raw</option>
        <option value="Egg, whole, raw">Egg, whole, raw</option>
        <option value="Egg, yolk, raw">Egg, yolk, raw</option>
        <option value="Fenugreek leaves">Fenugreek leaves</option>
        <option value="Fenugreek seeds">Fenugreek seeds</option>
        <option value="Fig">Fig</option>
        <option value="Flax seeds">Flax seeds</option>
        <option value="French beans">French beans</option>
        <option value="Garlic">Garlic</option>
        <option value="Ghee">Ghee</option>
        <option value="Gingelly seeds">Gingelly seeds</option>
        <option value="Ginger, fresh">Ginger, fresh</option>
        <option value="Goat">Goat</option>
        <option value="Grapes">Grapes</option>
        <option value="Green chillies">Green chillies</option>
        <option value="Green gram dal">Green gram dal</option>
        <option value="Green gram, whole">Green gram, whole</option>
        <option value="Ground nut">Ground nut</option>
        <option value="Guava">Guava</option>
        <option value="Horse gram, whole">Horse gram, whole</option>
        <option value="Jack fruit">Jack fruit</option>
        <option value="Jaggery cane">Jaggery cane</option>
        <option value="Jowar">Jowar</option>
        <option value="Khoa">Khoa</option>
        <option value="Knol-Khol">Knol-Khol</option>
        <option value="Kovai">Kovai</option>
        <option value="Ladies finger">Ladies finger</option>
        <option value="Lettuce">Lettuce</option>
        <option value="Linseeds">Linseeds</option>
        <option value="Litchi">Litchi</option>
        <option value="Lobster">Lobster</option>
        <option value="Mackerel">Mackerel</option>
        <option value="Mango">Mango</option>
        <option value="Matha">Matha</option>
        <option value="Milk, whole (Buffalo)">Milk, whole (Buffalo)</option>
        <option value="Milk, whole, cow">Milk, whole, cow</option>
        <option value="Mint leaves">Mint leaves</option>
        <option value="Musk melon">Musk melon</option>
        <option value="Mustard leaves">Mustard leaves</option>
        <option value="Nutmeg">Nutmeg</option>
        <option value="Oil">Oil</option>
        <option value="Onion">Onion</option>
        <option value="Orange">Orange</option>
        <option value="Oyster">Oyster</option>
        <option value="Paneer">Paneer</option>
        <option value="Papaya">Papaya</option>
        <option value="Parsley">Parsley</option>
        <option value="Parwar">Parwar</option>
        <option value="Peach">Peach</option>
        <option value="Pear">Pear</option>
        <option value="Peas, dry">Peas, dry</option>
        <option value="Peas,fresh">Peas,fresh</option>
        <option value="Pepper, black">Pepper, black</option>
        <option value="Pine seed">Pine seed</option>
        <option value="Pineapple">Pineapple</option>
        <option value="Pistachio nuts">Pistachio nuts</option>
        <option value="Plantain stem">Plantain stem</option>
        <option value="Plum">Plum</option>
        <option value="Pomegranate">Pomegranate</option>
        <option value="Pomfret">Pomfret</option>
        <option value="Poppy seeds">Poppy seeds</option>
        <option value="Pork, chops">Pork, chops</option>
        <option value="Pork, shoulder">Pork, shoulder</option>
        <option value="Potato brown">Potato brown</option>
        <option value="Pumpkin">Pumpkin</option>
        <option value="Quinoa">Quinoa</option>
        <option value="Radish leaves">Radish leaves</option>
        <option value="Radish,white">Radish,white</option>
        <option value="Ragi">Ragi</option>
        <option value="Raisins, black">Raisins, black</option>
        <option value="Rajma, red">Rajma, red</option>
        <option value="Red chillies">Red chillies</option>
        <option value="Red gram, dal">Red gram, dal</option>
        <option value="Red gram, whole">Red gram, whole</option>
        <option value="Refined flour">Refined flour</option>
        <option value="Rice flakes">Rice flakes</option>
        <option value="Rice Parboiled">Rice Parboiled</option>
        <option value="Rice Raw milled">Rice Raw milled</option>
        <option value="Ridge gourd">Ridge gourd</option>
        <option value="Salmon">Salmon</option>
        <option value="Sapota">Sapota</option>
        <option value="Sardine">Sardine</option>
        <option value="Shark">Shark</option>
        <option value="Sheep, chops">Sheep, chops</option>
        <option value="Sheep, shoulder">Sheep, shoulder</option>
        <option value="Silver fish">Silver fish</option>
        <option value="Snake gourd">Snake gourd</option>
        <option value="Soy milk">Soy milk</option>
        <option value="Soya bean, brown">Soya bean, brown</option>
        <option value="Spinach">Spinach</option>
        <option value="Squid">Squid</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Sugarcane, juice">Sugarcane, juice</option>
        <option value="Sunflower seeds">Sunflower seeds</option>
        <option value="Sweet lime">Sweet lime</option>
        <option value="Sweet potato (brown)">Sweet potato (brown)</option>
        <option value="Tapioca">Tapioca</option>
        <option value="Tiger prawns">Tiger prawns</option>
        <option value="Tofu">Tofu</option>
        <option value="Tomato">Tomato</option>
        <option value="Tuna">Tuna</option>
        <option value="Turmeric powder">Turmeric powder</option>
        <option value="Walnut">Walnut</option>
        <option value="Watermelon">Watermelon</option>
        <option value="Wheat flour">Wheat flour</option>
        <option value="Wheat semolina">Wheat semolina</option>
        <option value="Wheat vermicelli">Wheat vermicelli</option>
        <option value="Wheat whole">Wheat whole</option>
        <option value="Wood apple">Wood apple</option>
        <option value="Yam">Yam</option>
        </select>
        <input type="number" class="quantity-input" name="quantity[]" placeholder="Quantity in grams" step="any">
      </div>
    </div>
    <div class="button-container">
      <button type="button" id="add-more-btn">Add More</button>
      <input type="submit" id="calculate" value="Calculate">
    </div>
  </form>

  <script>
    $(document).ready(function() {
      $("#add-more-btn").click(function() {
        var newDropdowns = `
        <div class="dropdowns">
            <select class="item-dropdown" name="ingredient[]">
              <option value="">Select ingredient</option>
              <option value="Almonds">Almonds</option>
              <option value="Amaranth leaves">Amaranth leaves</option>
              <option value="Amaranth seed, Black">Amaranth seed, Black</option>
              <option value="Anise seeds">Anise seeds</option>
              <option value="Apple">Apple</option>
              <option value="Apricot, dried">Apricot, dried</option>
              <option value="Arecanut dried">Arecanut dried</option>
              <option value="Asafoetida">Asafoetida</option>
              <option value="Ash gourd">Ash gourd</option>
              <option value="Avocado">Avocado</option>
              <option value="Bajra">Bajra</option>
              <option value="Bamboo shoot, tender">Bamboo shoot, tender</option>
              <!-- Add more options as needed -->
              <option value="Banana">Banana</option>
              <option value="Barley">Barley</option>
              <option value="Basil seeds">Basil seeds</option>
              <option value="Beef, chops">Beef, chops</option>
              <option value="Beet greens">Beet greens</option>
              <option value="Beetroot">Beetroot</option>
              <option value="Bengal gram, dal">Bengal gram, dal</option>
              <option value="Bengal gram, whole">Bengal gram, whole</option>
              <option value="Bitter gourd">Bitter gourd</option>
              <option value="Black cumin (Kalonji)">Black cumin (Kalonji)</option>
              <option value="Black gram, whole">Black gram, whole</option>
              <option value="Blackberry fruit">Blackberry fruit</option>
              <option value="Blackcurrants">Blackcurrants</option>
              <option value="Bottle gourd">Bottle gourd</option>
              <option value="Brinjal">Brinjal</option>
              <option value="Broad beans">Broad beans</option>
              <option value="Brown Rice">Brown Rice</option>
              <option value="Brussels sprouts">Brussels sprouts</option>
              <option value="Bulgar wheat">Bulgar wheat</option>
              <option value="Butter">Butter</option>
              <option value="Cabbage Chinese">Cabbage Chinese</option>
              <option value="Cabbage, green">Cabbage, green</option>
              <option value="Capsicum">Capsicum</option>
              <option value="Cardamom, green">Cardamom, green</option>
              <option value="Carrot">Carrot</option>
              <option value="Cashew nut">Cashew nut</option>
              <option value="Cat fish">Cat fish</option>
              <option value="Catla">Catla</option>
              <option value="Cauliflower">Cauliflower</option>
              <option value="Cauliflower, leaves">Cauliflower, leaves</option>
              <option value="Celery stalk">Celery stalk</option>
              <option value="Cheese">Cheese</option>
              <option value="Cherries red">Cherries red</option>
              <option value="Chia seeds">Chia seeds</option>
              <option value="Chicken, breast,">Chicken, breast,</option>
              <option value="Chicken, leg, skinless">Chicken, leg, skinless</option>
              <option value="Chicken, liver">Chicken, liver</option>
              <option value="Chicken, thigh,">Chicken, thigh,</option>
              <option value="Cho-Cho- Marrow">Cho-Cho- Marrow</option>
              <option value="Clam">Clam</option>
              <option value="Cloves">Cloves</option>
              <option value="Cluster beans">Cluster beans</option>
              <option value="Coconut dry">Coconut dry</option>
              <option value="Coconut fresh">Coconut fresh</option>
              <option value="Coconut water">Coconut water</option>
              <option value="Colocasia leaves, green">Colocasia leaves, green</option>
              <option value="Coriander seeds">Coriander seeds</option>
              <option value="Cow pea, brown">Cow pea, brown</option>
              <option value="Cow pea, white">Cow pea, white</option>
              <option value="Crab">Crab</option>
              <option value="Cucumber">Cucumber</option>
              <option value="Cumin seeds">Cumin seeds</option>
              <option value="Curry leaves">Curry leaves</option>
              <option value="Custard apple">Custard apple</option>
              <option value="Dates, dry">Dates, dry</option>
              <option value="Drumstick leaves">Drumstick leaves</option>
              <option value="Egg white, raw">Egg white, raw</option>
              <option value="Egg, whole, raw">Egg, whole, raw</option>
              <option value="Egg, yolk, raw">Egg, yolk, raw</option>
              <option value="Fenugreek leaves">Fenugreek leaves</option>
              <option value="Fenugreek seeds">Fenugreek seeds</option>
              <option value="Fig">Fig</option>
              <option value="Flax seeds">Flax seeds</option>
              <option value="French beans">French beans</option>
              <option value="Garlic">Garlic</option>
              <option value="Ghee">Ghee</option>
              <option value="Gingelly seeds">Gingelly seeds</option>
              <option value="Ginger, fresh">Ginger, fresh</option>
              <option value="Goat">Goat</option>
              <option value="Grapes">Grapes</option>
              <option value="Green chillies">Green chillies</option>
              <option value="Green gram dal">Green gram dal</option>
              <option value="Green gram, whole">Green gram, whole</option>
              <option value="Ground nut">Ground nut</option>
              <option value="Guava">Guava</option>
              <option value="Horse gram, whole">Horse gram, whole</option>
              <option value="Jack fruit">Jack fruit</option>
              <option value="Jaggery cane">Jaggery cane</option>
              <option value="Jowar">Jowar</option>
              <option value="Khoa">Khoa</option>
              <option value="Knol-Khol">Knol-Khol</option>
              <option value="Kovai">Kovai</option>
              <option value="Ladies finger">Ladies finger</option>
              <option value="Lettuce">Lettuce</option>
              <option value="Linseeds">Linseeds</option>
              <option value="Litchi">Litchi</option>
              <option value="Lobster">Lobster</option>
              <option value="Mackerel">Mackerel</option>
              <option value="Mango">Mango</option>
              <option value="Matha">Matha</option>
              <option value="Milk, whole (Buffalo)">Milk, whole (Buffalo)</option>
              <option value="Milk, whole, cow">Milk, whole, cow</option>
              <option value="Mint leaves">Mint leaves</option>
              <option value="Musk melon">Musk melon</option>
              <option value="Mustard leaves">Mustard leaves</option>
              <option value="Nutmeg">Nutmeg</option>
              <option value="Oil">Oil</option>
              <option value="Onion">Onion</option>
              <option value="Orange">Orange</option>
              <option value="Oyster">Oyster</option>
              <option value="Paneer">Paneer</option>
              <option value="Papaya">Papaya</option>
              <option value="Parsley">Parsley</option>
              <option value="Parwar">Parwar</option>
              <option value="Peach">Peach</option>
              <option value="Pear">Pear</option>
              <option value="Peas, dry">Peas, dry</option>
              <option value="Peas,fresh">Peas,fresh</option>
              <option value="Pepper, black">Pepper, black</option>
              <option value="Pine seed">Pine seed</option>
              <option value="Pineapple">Pineapple</option>
              <option value="Pistachio nuts">Pistachio nuts</option>
              <option value="Plantain stem">Plantain stem</option>
              <option value="Plum">Plum</option>
              <option value="Pomegranate">Pomegranate</option>
              <option value="Pomfret">Pomfret</option>
              <option value="Poppy seeds">Poppy seeds</option>
              <option value="Pork, chops">Pork, chops</option>
              <option value="Pork, shoulder">Pork, shoulder</option>
              <option value="Potato brown">Potato brown</option>
              <option value="Pumpkin">Pumpkin</option>
              <option value="Quinoa">Quinoa</option>
              <option value="Radish leaves">Radish leaves</option>
              <option value="Radish,white">Radish,white</option>
              <option value="Ragi">Ragi</option>
              <option value="Raisins, black">Raisins, black</option>
              <option value="Rajma, red">Rajma, red</option>
              <option value="Red chillies">Red chillies</option>
              <option value="Red gram, dal">Red gram, dal</option>
              <option value="Red gram, whole">Red gram, whole</option>
              <option value="Refined flour">Refined flour</option>
              <option value="Rice flakes">Rice flakes</option>
              <option value="Rice Parboiled">Rice Parboiled</option>
              <option value="Rice Raw milled">Rice Raw milled</option>
              <option value="Ridge gourd">Ridge gourd</option>
              <option value="Salmon">Salmon</option>
              <option value="Sapota">Sapota</option>
              <option value="Sardine">Sardine</option>
              <option value="Shark">Shark</option>
              <option value="Sheep, chops">Sheep, chops</option>
              <option value="Sheep, shoulder">Sheep, shoulder</option>
              <option value="Silver fish">Silver fish</option>
              <option value="Snake gourd">Snake gourd</option>
              <option value="Soy milk">Soy milk</option>
              <option value="Soya bean, brown">Soya bean, brown</option>
              <option value="Spinach">Spinach</option>
              <option value="Squid">Squid</option>
              <option value="Strawberry">Strawberry</option>
              <option value="Sugarcane, juice">Sugarcane, juice</option>
              <option value="Sunflower seeds">Sunflower seeds</option>
              <option value="Sweet lime">Sweet lime</option>
              <option value="Sweet potato (brown)">Sweet potato (brown)</option>
              <option value="Tapioca">Tapioca</option>
              <option value="Tiger prawns">Tiger prawns</option>
              <option value="Tofu">Tofu</option>
              <option value="Tomato">Tomato</option>
              <option value="Tuna">Tuna</option>
              <option value="Turmeric powder">Turmeric powder</option>
              <option value="Walnut">Walnut</option>
              <option value="Watermelon">Watermelon</option>
              <option value="Wheat flour">Wheat flour</option>
              <option value="Wheat semolina">Wheat semolina</option>
              <option value="Wheat vermicelli">Wheat vermicelli</option>
              <option value="Wheat whole">Wheat whole</option>
              <option value="Wood apple">Wood apple</option>
              <option value="Yam">Yam</option>
            </select>
            <input type="number" class="quantity-input" name="quantity[]" placeholder="Quantity in grams" step="any">
          </div>
        `;
        $("#dropdowns-container").append(newDropdowns);
      });
    });
  </script>
</body>
</html>
