<!DOCTYPE html>
<html lang="en">
<head>
  <title> Login </title>
  <link rel="stylesheet" href= "{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <div class="form-container">
    <p class="title">Welcome back</p>
    <form class="form">
      <input type="email" class="input" placeholder="Email" required>
      <input type="password" class="input" placeholder="Password" required>
      <p class="page-link">
        <span class="page-link-label">Forgot Password?</span>
      </p>
      <button type="submit" onclick="window.location.href='/homepage'">Login</button>
    </form>
    <p class="sign-up-label">
      Don't have an account? <span class="sign-up-link" onclick="window.location.href='/signup'">Sign up</span>
    </p>


<script src="../static/script.js"></script>

</body>
</html>
